<div class = 'sidenav col l3'>
    <div class = 'container'>
      <h3> find some more movies </h3>
    <form action='/search' method='GET'>
      <input name='movieQuery' type='text'/>
    <button class='search-button waves-effect waves-light btn' type='submit'>Search</button>
      <h3> visit some of these movie databases </h3>
        <ul>
        <ul>
          <a class='database-link' href='http://www.imdb.com/'> imdb </a>
        </ul>
        <ul>
          <a class='database-link' href='https://www.themoviedb.org/?language=en'> tmb </a>
        </ul>
        <ul>
          <a class='database-link' href='https://www.rottentomatoes.com/'> rotten tomatoes </a>
        </ul>
        </ul>
  </div>
</div>