<% include partials/head %>

<div class='row'>
  <div class='error-message col12'>
    <h1> ~ NO RESULTS ~ </h1>
    <h2> ~ try again ~ </h2>
  </div>
</div>
<% include partials/search-bar %>

</div>
<footer>

</footer>
</body>
</html>